Source: fll-installer
Section: admin
Priority: optional
Maintainer: Joaquim Boura <x-un-i@berlios.de>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>,
 Kel Modderman <kel@otaku42.de>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2
Vcs-Svn: svn://svn.berlios.de/fullstory/fll-installer/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/fll-installer/trunk/

Package: fll-installer
Architecture: all
Depends: ${misc:Depends},
 adduser,
 base-files (>= 6.4),
 initramfs-tools,
 grub-pc | grub-efi,
 lsof,
 procps,
 udev-config-aptosid,
 whois,
 os-prober,
 rsync,
 fll-live-initscripts (>= 3.10.4)
Recommends: install-gui
Suggests: gparted,
 distro-defaults
Description: backend scripts to install aptosid to hdd
 fll-installer provides a framework for installing FULLSTORY Live Linux
 to hard disk drives.
 .
 This is a FULLSTORY live-only package and should not be installed to an
 ordinary system.

Package: fll-iso2usb
Architecture: all
Depends: ${misc:Depends},
 grub-pc,
 distro-defaults,
 parted
Recommends: install-usb-gui
Suggests: fuseiso
Enhances: qt-fll-iso2usb-gui,
 install-usb-gui
Description: backend scripts to install aptosid to an usb hdd
 fll-iso2usb provides the backend for installing FULLSTORY Live Linux aptosid to
 removable storage, usb disk drives.
 .
 This preserves a hardware agnostic live system on removable storage.
