Source: fll-installer
Section: admin
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
XSBC-Original-Maintainer: Joaquim Boura <x-un-i@berlios.de>
Uploaders: J. Hamatoma <hamatoma@gmx.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Vcs-Git: git://git.siduction.org/code/fll-installer
Vcs-Browser: http://git.siduction.org/?p=code/fll-installer.git
Homepage: http://svn.berlios.de/wsvn/fullstory/fll-installer/trunk/

Package: fll-installer
Architecture: all
Depends: ${misc:Depends},
 adduser,
 base-files (>= 6.4),
 initramfs-tools,
 grub-pc | grub-efi,
 lsof,
 procps,
 udev-config-siduction,
 whois,
 os-prober,
 rsync,
 fll-live-initscripts (>= 3.10.4)
Recommends: sidu-installer
Suggests: gparted,
 distro-defaults
Description: backend scripts to install siduction to hdd
 fll-installer provides a framework for installing siduction Live Linux
 to hard disk drives.
 .
 This is a siduction live-only package and should not be installed to an
 ordinary system.

Package: fll-iso2usb
Architecture: all
Depends: ${misc:Depends},
 grub-pc,
 distro-defaults,
 parted
Recommends: install-usb-gui
Suggests: fuseiso
Enhances: qt-fll-iso2usb-gui,
 install-usb-gui
Description: backend scripts to install siduction to an usb hdd
 fll-iso2usb provides the backend for installing siduction Live Linux
 to removable storage, usb disk drives.
 .
 This preserves a hardware agnostic live system on removable storage.
